#account-box{
    position: relative;
    width: 100%;
    height: 100%;
}
.profile-header{
    position: relative;
    padding-block: 2rem;
    width: 100%;
    height: 100%;
    background-color: #6b6bfd;
    border-radius: 5px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 0rem;
}
.profile-header ul{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}
.profile-list-item{
    position: relative;
    padding-inline: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.profile-information-box{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 1rem;
    height: 100%;
}
.profile-picture{
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}
.profile-information-username{
    font-size: 48px;
    color: white;
}
.profile-information-joined{
    font-size: 18px;
    color: rgb(221, 221, 221);
}

.stats-list{
    position: relative;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 24px;
    gap: 2rem;
}
.profile-stats-box{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 0.5rem;
    height: 100%;
}
.profile-stats-icons{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.profile-stats-texts{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.profile-stats-box .profile-stats-texts span{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}

/* Nav */
#account-content{
    position: relative;
    width: 100%;
    padding-block: 1rem;
    width: 100%;
}
#account-nav{
    position: relative;
    padding-block: 0.75rem;
    width: 100%;
    background-color: #6b6bfd;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
#account-nav ul{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    list-style: none;
    color: white;
    font-weight: bold;
}
#account-nav ul li:hover{
    color: whitesmoke;
    cursor: pointer;
}

#account-items{
    position: relative;
    padding-inline: 2rem;
    border: 0.5px solid #6b6bfd;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.selected{
    text-decoration: underline;
}