.container-message{
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    bottom: 20px;
    height: 75px;
    width: 100%;
    padding-inline: 2rem;
    background-color: red;
}