.itemcard{
    position: relative;
    max-width: 200px;
    width: fit-content;
    text-align: center;
    border-radius: 5px;
    color: white;
}
.itemcard-item-image img{
    border-radius: 10px;
    transition: 0.5s;
}
.itemcard-item-title{
    height: 10%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.5s;
}
.itemcard-item-release{
    transition: 0.5s;
}

.itemcard-item-rating{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.rate-start-active{
    color: yellow;
}
.rate-start-notactive{
    color: yellow;
}

/* Animations */
.itemcard-item-image img:hover{
    scale: 1.10;
    transition: 0.5s;
    cursor: pointer;
}
.itemcard-item-image:hover ~ .itemcard-item-title, .itemcard-item-image:hover ~ .itemcard-item-release{
    color: rgb(218, 218, 218);
    transition: 0.5s;
    cursor: pointer;
}
.itemcard-item-title:hover{
    color: rgb(218, 218, 218);
    transition: 0.5s;
    cursor: pointer;
}