.navbar{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10rem;
    min-height: 60px;
    background-color: rgb(107, 107, 253);
    color: white;
    font-weight: 200;
    font-size: 24px;
}
.navbar ul{
    position: relative;
    width: 33%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    gap: 1rem;
    list-style: none;
}
.nav-links{
    justify-content: flex-start;
}
.nav-settings{
    justify-content: flex-end;
}
.navbar ul li:hover{
    cursor: pointer;
}
.navbar-title-first{
    color: rgb(255, 255, 255);
}
.navbar-title-second{
    color: rgb(238, 238, 238);
}

.searcher{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 33%;
}
.searcher input{
    width: 350px;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border: 0px;
    border-radius: 5px;
    transition: 0.2s;
}
.searcher input:focus{
    outline: none;
    padding-block: 0.75rem;
    transition: 0.2s;
}

#navbar-message{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    color: white;
    background-color: rgb(0, 132, 255);
    z-index: 2;
    overflow: hidden;
}
#message-text{
    position: relative;
    padding-inline: 1rem;
    width: 100%;
    min-height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
#message-text span{
    width: 100%;
    animation: right_to_left 20s infinite linear;
}
#message-menu{
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    right: 0;
    width: auto;
    height: auto;
    background-color: rgb(0, 132, 255);
}
.bi{
    font-size: 24px;
}

@keyframes right_to_left {
    from {
        transform: translateX(120%);
    }
    to {
        transform: translateX(-50%);
    }
  }