.App{
    position: relative;
    height: 100vh;
}
.container{
    position: relative;
    min-height: 80%;
    padding-top: 4rem;
    padding-inline: 8rem;
    display: flex;
    flex-direction: column;
}